beautifulsoup4==4.7.1    
bs4==0.0.1    
certifi==2019.6.16
chardet==3.0.4    
Click==7.0      
future==0.17.1   
idna==2.8      
lxml==4.6.3    
np-utils==0.5.10.0 
numpy==1.16.4   
pandas==0.25.0   
Pillow==8.1.1    
pip==19.1.1   
pyparsing==2.4.1.1  
python-dateutil==2.8.0    
pytz==2019.1   
requests==2.22.0   
selenium==3.141.0  
setuptools==41.0.1   
six==1.12.0   
soupsieve==1.9.2    
split-folders==0.2.3    
svgwrite==1.3.1    
Tree==0.2.4    
urllib3==1.25.3   
wheel==0.33.4   